[project]
	description = Python driver for Formula-E Roborace
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zbyněk Winkler (zwn)
[access "refs/for/refs/*"]
	read = group user/Zbyněk Winkler (zwn)
	push = group user/Zbyněk Winkler (zwn)
	label-Code-Review = -2..+2 group user/Zbyněk Winkler (zwn)
	label-Verified = -1..+1 group user/Zbyněk Winkler (zwn)
	rebase = group user/Zbyněk Winkler (zwn)
	removeReviewer = group user/Zbyněk Winkler (zwn)
	submit = group user/Zbyněk Winkler (zwn)
[access "refs/heads/*"]
	read = group user/Zbyněk Winkler (zwn)
	create = group user/Zbyněk Winkler (zwn)
	push = +force group user/Zbyněk Winkler (zwn)
	pushMerge = group user/Zbyněk Winkler (zwn)
[access "refs/tags/*"]
	push = group user/Zbyněk Winkler (zwn)
	push = +force group user/Zbyněk Winkler (zwn)
